<div class="brand-block">
  <img class="brand-mark brand-logo" src="/madame-janette-logo-v162.png" alt="Madame Janette">
  <div>
    <h1><%= brandTitle %></h1>
    <p><%= brandSubtitle %></p>
  </div>
</div>
