<a class="brand-block brand-home-link" href="/" aria-label="Go to front page">
  <img class="brand-logo" src="<%= assetWithVersion('/mjstock-logo.png') %>" alt="Madame Janette">
  <div>
    <h1><%= brandTitle %></h1>
    <p><%= brandSubtitle %></p>
  </div>
</a>
