<section class="panel">
  <form id="passwordForm">
    <label>
      Current password
      <input id="currentPassword" type="password" autocomplete="current-password">
    </label>
    <label>
      New password
      <input id="newPassword" type="password" autocomplete="new-password" required>
    </label>
    <label>
      Repeat new password
      <input id="repeatPassword" type="password" autocomplete="new-password" required>
    </label>
    <button type="submit">Update Password</button>
    <p id="passwordMessage" role="status"></p>
  </form>
</section>
